#page-footer {
  flex-grow: 0;
  display: flex;

  padding: 20px;
}

.madewithlove {
	color: #5f5f5f;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	display: block;
	width: 100%;


	text-align: center;
}
