* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--tg-theme-bg-color, #ffffff);
	color: var(--tg-theme-hint-color, #222222);

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex-grow: 1;
}



input {
	color: var(--tg-theme-hint-color, #222222);
}

.inputdatetime {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



span a {
	  color: #000000;
	  text-decoration: none;
}
span .fa {
	  color: #E90606;
	  margin: 0 3px;
	  font-size: 10px;
	  animation: pound .35s infinite alternate;
	  -webkit-animation: pound .35s infinite alternate;
}

@-webkit-keyframes pound {
	to {
	  transform: scale(1.1); } }

@keyframes pound {
	to {
	  transform: scale(1.1); } }
